version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: german_postgres
    restart: always
    ports:
     - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: maryam
      POSTGRES_DB: deutsch-meister
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
